<div class="main-container">
    <div class="container1">
        <div class="title">
            <h3>Todo-List</h3>
            <button (click)="undoelement()">Undo</button>
        </div>
        <hr>
        <h5 class="no-task" *ngIf="names.length<=0">No task yet...</h5>
        <div class="list">
            <div *ngFor="let item of names" class="list-box">
                <div class="single-item">
                    <p>{{item}}</p>
                    <i class="material-icons" (click)="deleteelement(item)">delete</i>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="todo-box">
            <div class="input-field col s6">
                <i class="material-icons prefix">create</i>
                <input [(ngModel)]="task" id="icon_prefix" type="text" class="validate" >
                <label for="icon_prefix">Enter the task...</label>
            </div>
            <i class="material-icons send-icon" (click)="addelement()">send</i>
        </div>
    </div>
</div>