<div class="add-friend">
    <h4>My Buddiess</h4>
    <div class="friends" *ngIf="friendsData">
        <h6 *ngIf="friendsData.length==0">No people available</h6>
        <ul class="collection" *ngFor="let item of friendsData">
            <li class="collection-item avatar">
                 <img src={{item.imageUrl}} alt="" class="circle"/>
                 <span class="title">{{item.name}}</span>
                 <p>{{item.email}}</p>
                 <button class="waves-effect waves-light btn secondary-content" (click)="deleteHandler(item.id)">DELETE</button>
             </li>
         </ul>
    </div>
</div>
